body {
    display: flex;
    width: 100%;
}

aside {
    width: 25%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    box-shadow: 2px 5px 5px #d9d9df;
}

.sidebar1 {
    display: flex;
    width: 100%;
    height: 80px;
    /* box-shadow: 2px 5px 5px #d9d9df; */
    border-bottom: 1px solid #d9d9df;

}

.img {
    width: 60px;
    height: 60px;
    border-radius: 45%;
    cursor: pointer;
    margin: 10px;

}

.div-icon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 35px 3px 20px 160px;
}

.icon {
    color: #393a3c;
    margin: 0 10px 0 10px;
    text-decoration-line: none;
    align-content: center;
}

.sidebar-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d9d9df;
    padding: 1px 0px 5px 0px;
    margin-top: -8px;
}

.nav-icon {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.icon-text {
    padding-top: 10px;
    color: black;
}

.namebar-img {
    width: 60px;
    height: 60px;
    border-radius: 45%;
    cursor: pointer;
    margin: 15px 1px 4px 5px;
}

.name-tag {
    width: 167px;
    justify-content: center;
    width: 167px;
    display: flex;
    flex-direction: column;
}

.name-tag1 {
    width: 167px;
    justify-content: center;
    width: 167px;
    display: flex;
    flex-direction: column;
}

.message-info {
    margin: 7px 0 0 0;
}

.namebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d9d9df
}

.span-text {
    color: #6c7176;
    margin: 7px 0 0 0;
    font-size: 13px;
}


.dot {
    height: 15px;
    width: 15px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #3399ff;
    position: relative;
    top: -25%;
    right: -45%;
    font-size: 12px;
}

.dot1 {
    height: 17px;
    width: 17px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #3399ff;
    position: relative;
    top: -25%;
    right: -45%;
    font-size: 12px;
}

.div-time {
    color: #6c7176;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.time-text {
    color: #6c7176;
    line-height: 3em;
    margin-right: 5px;
}

.logged-in {
    color: green;
    position: relative;
    bottom: -60%;
    left: -6%;
    font-size: 22px;
}

.logged-out {
    color: #6c7176;
    position: relative;
    bottom: -60%;
    left: -6%;
    font-size: 22px;
}

.div-time1 {
    color: #6c7176;
    line-height: 3em;
    margin-right: 5px;

}


.chat-container {
    width: 75%;
    height: 100vh;
    background-color: #9fa7ae;

}

.chat-header {
    height: 80px;
    box-shadow: 2px 5px 5px #d9d9df;
    background-color: white;
}

.chat-info {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.chat-head {
    display: flex;
    flex-direction: row;
}

.chat-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.icon-container {
    float: right;
    justify-content: end;
    display: flex;
    padding: 30px;
}

.header-icons {
    display: flex;
    flex-direction: row;
}

.namebar-img1 {
    width: 60px;
    height: 60px;
    border-radius: 45%;
    cursor: pointer;
    margin: 9px 1px 4px 15px;
}

.chat-date {
    display: flex;
    width: auto;

}















































.sidebar-icon :hover {
    background-color: #3366ff;
}